<%- include ("../partials/usps.ejs") %>
<section>
  <h1>
    <%= variantContent.articleSelectionContent.articleSelectionTitle %>
  </h1>
  <fieldset>
    <div>
      <article>
        <div>
          <h3><%= articles[0].Name %></h3>
          <% if(articles[0].Description != "" && articles[0].Description != "NULL"){ %>
            <button type="button" class="iBtn">i</button>
            <p class="tooltip"><%= articles[0].Description %></p>
          <% } %>
          <p class="align-middle">€ <%= (articles[0].PriceCent / 100).toFixed(2) %></p>
        </div>
        <div class="ticket-amount-container">
          <button type="button" class="remove-ticket">-</button>
          <select aria-label="Aantal <%= articles[0].Name %>" name="Articles[0]" id="">
            <% for( let i = 0; i < articleConfiguration.maxAmountOfArticles+1; i++ ){ %>
              <% if(i == 2){ %>
                <option selected="selected" data-price="<%= articles[0].PriceCent %>" value="<%= i %>"><%= i %></option>
                <% } else{ %>
                  <option data-price="<%= articles[0].PriceCent %>" value="<%= i %>"><%= i %></option>
                <% } %>
            <% } %>
          </select>
          <button type="button" class="add-ticket">+</button>
        </div>
      </article>
      <article>
        <div>
          <h3><%= articles[1].Name %> </h3>
          <% if(articles[1].Description != "" && articles[1].Description != "NULL"){ %>
            <button type="button" class="iBtn">i</button>
            <p class="tooltip"><%= articles[1].Description %></p>
          <% } %>
          <p class="align-middle">€ <%= (articles[1].PriceCent /100).toFixed(2) %></p>
        </div>
        <div class="ticket-amount-container">
          <button type="button" class="remove-ticket">-</button>
          <select aria-label="Aantal ><%= articles[1].Name %>" name="Articles[1]" id="">
            <% for( let i = 0; i <
            articleConfiguration.maxAmountOfArticles+1; i++ ){ %>
            <option data-price="<%= articles[1].PriceCent %>" value="<%= i %>"><%= i %></option>
            <% } %>
          </select>
          <button type="button" class="add-ticket">+</button>
        </div>
      </article>
      <article>
        <div>
          <h3><%= articles[2].Name %> </h3>
          <% if(articles[2].Description != "" && articles[2].Description != "NULL"){ %>
            <button type="button" class="iBtn">i</button>
            <p class="tooltip"><%= articles[2].Description %></p>
          <% } %>
          <p class="align-middle">€ <%= (articles[2].PriceCent /100).toFixed(2) %></p>
        </div>
        <div class="ticket-amount-container">
          <button type="button" class="remove-ticket">-</button>
          <select aria-label="Aantal" name="Articles[2]" id="">
            <% for( let i = 0; i < articleConfiguration.maxAmountOfArticles+1; i++ ){ %>
            <option data-price="<%= articles[2].PriceCent %>" value="<%= i %>"><%= i %></option>
            <% } %>
          </select>
          <button type="button" class="add-ticket">+</button>
        </div>
      </article>
      <article>
        <div>
          <h3><%= articles[3].Name %></h3> 
          <% if(articles[3].Description != "" && articles[3].Description != "NULL"){ %>
            <button type="button" class="iBtn">i</button>
            <p class="tooltip"><%= articles[3].Description %></p>
          <% } %>
          <p class="align-middle">€ <%= (articles[3].PriceCent /100).toFixed(2) %></p>
        </div>
        <div class="ticket-amount-container">
          <button type="button" class="remove-ticket">-</button>  
          <select aria-label="Aantal" name="Articles[3]" id="">
            <% for( let i = 0; i < articleConfiguration.maxAmountOfArticles+1; i++ ){ %>
            <option data-price="<%= articles[3].PriceCent %>" value="<%= i %>"><%= i %></option>
            <% } %>
          </select>
          <button type="button" class="add-ticket">+</button>
        </div>  
      </article>
      <article>
        <div>
          <h3><%= articles[4].Name %></h3>
          <% if(articles[4].Description != "" && articles[4].Description != "NULL"){ %>
            <button type="button" class="iBtn">i</button>
            <p class="tooltip"><%= articles[4].Description %></p>
          <% } %>
          <p class="align-middle">€ <%= (articles[4].PriceCent / 100).toFixed(2) %></p>
        </div>  
        <div class="ticket-amount-container">  
          <button type="button" class="remove-ticket">-</button> 
          <select aria-label="Aantal" name="Articles[4]" id="">
            <% for( let i = 0; i < articleConfiguration.maxAmountOfArticles+1; i++ ){ %>
            <option data-price="<%= articles[4].PriceCent %>" value="<%= i %>"><%= i %></option>
            <% } %>
          </select>
          <button type="button" class="add-ticket">+</button>
        </div>    
      </article>
      <article>
        <div>
          <h3><%= articles[5].Name %></h3>
          <% if(articles[5].Description != "" && articles[5].Description != "NULL"){ %>
            <button type="button" class="iBtn">i</button>
            <p class="tooltip"><%= articles[5].Description %></p>
          <% } %>
          <p class="align-middle">€ <%= (articles[5].PriceCent / 100).toFixed(2) %></p>
        </div>
        <div class="ticket-amount-container">
          <button type="button" class="remove-ticket">-</button> 
          <select aria-label="Aantal" name="Articles[5]" id="">
            <% for( let i = 0; i < articleConfiguration.maxAmountOfArticles+1; i++ ){ %>
            <option name="Articles[5]sub" data-price="<%= articles[5].PriceCent %>" value="<%= i %>"><%= i %></option>
            <% } %>
          </select>
          <button type="button" class="add-ticket">+</button>
        </div>
      </article>
    </div>
    <p>Aantal tickets: <output id="aantal-first-step" class="block-right">0</output></p>
    <p>Totaal prijs: <output id="total-first-step" class="block-right">€0.00</output></p>
    <p class="field-validation-error hidden">
      <span>
        <%- variantContent.articleSelectionContent.totalArticlesValidationError %>
      </span>
    </p>
  </fieldset>
  <p>
    <%= variantContent.articleSelectionContent.paragraphContentTitle %>
  </p>
  <ul>
    <% variantContent.articleSelectionContent.paragraphContentListItems.map(item => { %>
    <li><%= item %></li>
    <% }) %>
  </ul>
</section>
<section class="backButtonContainer">
  <a href="/" class="backButton"> < Terug naar kies je groep</a>
</section>  
<section class="ticketOrder">
  <div>
    <p>Bestellingslijst...</p>
    <input class="backAndNextButton" type="submit" value="Plan je bezoek">
  </div>
</section>