    <%- include ("../partials/usps.ejs") %>
    <section>
      <fieldset>
        <legend><%= variantContent.articleSelectionContent.articleSelectionTitle %></legend>
        <h3 id="legendLabel">Belangrijk! Tickets voor het hele museum. 6 tickettypes beschikbaar. De huidige selectie is Aantal tickets: 4, Totale prijs: €38.00</h3>
        <div>
         <% for( let a = 0; a < articles.length; a++ ){ %>
          <article>
            <div>
              <h3><%= articles[a].Name %></h3>
              <% if(articles[a].Description != "" && articles[a].Description != "NULL"){ %>
                <button type="button" class="iBtn" aria-describedby="tooltip<%= a %>">i</button>
                <p class="tooltip" id="tooltip<%= a %>"><%= articles[a].Description %></p>
              <% } %>
              <p class="align-middle">€ <%= (articles[a].PriceCent / 100).toFixed(2) %></p>
            </div>
            <div class="ticket-amount-container">
              <% if (javascript == 1) {%>
              <button type="button" class="remove-ticket">-</button>
              <% } %>
              <select aria-label="Aantal <%= articles[a].Name %>" aria-controls="ticketInfo" name="Articles[<%-a%>]" id="">
                <% if(ticketChoice != null){ %>
                  <% for( let i = 0; i < articleConfiguration.maxAmountOfArticles+1; i++ ){ %>
                      <% if(i == ticketChoice[a]) { %>
                        <option selected="selected" data-price="<%= articles[a].PriceCent %>" value="<%= i %>"><%= i %></option>
                      <% } else { %>
                        <option data-price="<%= articles[a].PriceCent %>" value="<%= i %>"><%= i %></option>
                      <% } %>
                  <% } %>
                <% } else {%>
                  <% for( let i = 0; i < articleConfiguration.maxAmountOfArticles+1; i++ ){ %>
                    <% if(i == ticketDefault[a]) { %>
                      <option selected="selected" data-price="<%= articles[a].PriceCent %>" value="<%= i %>"><%= i %></option>
                    <% } else { %>
                      <option data-price="<%= articles[a].PriceCent %>" value="<%= i %>"><%= i %></option>
                    <% } %>
                  <% } %>
                <% } %>
              </select>
              <% if (javascript == 1) {%>
              <button type="button" class="add-ticket">+</button>
              <% } %>
            </div>
          </article>
          <% } %>
        </div>
        <section id="ticketInfo">
          <p><output id="aantal-first-step" class="block-right" role="status" aria-live="polite">Aantal tickets: 0</output></p>
          <p><output id="total-first-step" class="block-right" role="status" aria-live="polite">Totale prijs: €0.00</output></p>
        </section>
        <input name="totalPrice" type="hidden" class="total-price">
        <p class="field-validation-error hidden">
          <span>
            <%- variantContent.articleSelectionContent.totalArticlesValidationError %>
          </span>
        </p>
      </fieldset>
      <p>
        <%= variantContent.articleSelectionContent.paragraphContentTitle %>
      </p>
      <ul>
        <% variantContent.articleSelectionContent.paragraphContentListItems.map(item => { %>
        <li><%= item %></li>
        <% }) %>
      </ul>
    </section>
    <section class="backButtonContainer">
      <a href="/" class="backButton linkStyleUnderline" aria-label="Klik hier om terug te gaan naar stap 1, Kies je groep"> < Terug naar kies je groep</a>
    </section>  
    <section class="ticketOrder">
      <div>
        <p>Bestellingslijst...</p>
        <input class="backAndNextButton" type="submit" value="Plan je bezoek">
      </div>
    </section>