    <%- include ("../partials/usps.ejs") %>
    <section>
      <fieldset>
        <legend id="legendLabel"><%= variantContent.articleSelectionContent.articleSelectionTitle %></legend>
        
        <div>
         <% for( let a = 0; a < articles.length; a++ ){ %>
          <article>
            <div>
              <h3><%= articles[a].Name %></h3>
              <% if(articles[a].Description != "" && articles[a].Description != "NULL"){ %>
                <div aria-label="extra informatie" tabindex="0" type="button" class="iBtn" aria-describedby="tooltip<%= a %>">i</div>
                <p class="tooltip" id="tooltip<%= a %>"><%= articles[a].Description %></p>
              <% } %>
              <p class="align-middle">€ <%= (articles[a].PriceCent / 100).toFixed(2) %></p>
            </div>
            <div class="ticket-amount-container">
              <% if (javascript == 1) {%>
              <button type="button" class="remove-ticket">-</button>
              <% } %>
              <select aria-label="Aantal <%= articles[a].Name %>" aria-controls="ticketInfo" name="ticketType[<%-a%>]" id="">
                <% if(ticketChoice != null){ %>
                  <% for( let i = 0; i < articleConfiguration.maxAmountOfArticles+1; i++ ){ %>
                      <% if(i == ticketChoice[a]) { %>
                        <option data-name="<%= articles[a].Name %>" selected="selected" data-price="<%= articles[a].PriceCent %>" value="<%= i %>"><%= i %></option>
                      <% } else { %>
                        <option data-name="<%= articles[a].Name %>" data-price="<%= articles[a].PriceCent %>" value="<%= i %>"><%= i %></option>
                      <% } %>
                  <% } %>
                <% } else {%>
                  <% for( let i = 0; i < articleConfiguration.maxAmountOfArticles+1; i++ ){ %>
                    <% if(i == ticketDefault[a]) { %>
                      <option data-name="<%= articles[a].Name %>" selected="selected" data-price="<%= articles[a].PriceCent %>" value="<%= i %>"><%= i %></option>
                    <% } else { %>
                      <option data-name="<%= articles[a].Name %>" data-price="<%= articles[a].PriceCent %>" value="<%= i %>"><%= i %></option>
                    <% } %>
                  <% } %>
                <% } %>
              </select>
              <% if (javascript == 1) {%>
              <button type="button" class="add-ticket">+</button>
              <% } %>
            </div>
          </article>
          <% } %>
        </div>

        <input name="totalPrice" type="hidden" class="total-price">
        <p class="field-validation-error hidden">
          <span>
            <%- variantContent.articleSelectionContent.totalArticlesValidationError %>
          </span>
        </p>
      </fieldset>
      <p>
        <%= variantContent.articleSelectionContent.paragraphContentTitle %>
      </p>
      <ul>
        <% variantContent.articleSelectionContent.paragraphContentListItems.map(item => { %>
        <li><%= item %></li>
        <% }) %>
      </ul>
    </section>
    <section class="backButtonContainer">
      <a href="/" class="backButton linkStyleUnderline" aria-label="Klik hier om terug te gaan naar stap 1, Kies je groep"> < Terug naar kies je groep</a>
    </section>  
    <section class="ticketOrder">
      <div>
        <% if (javascript == 1){ %>
          <section id="ticketInfo">
            <p><output id="aantal-first-step" class="block-right" role="status" aria-live="polite"> <span>U heeft 2, Entree volwassenen tickets en 2 Entree t/m 18 jaar</span> Totaal aantal tickets: 4</output></p>
            <p><output id="total-first-step" class="block-right" role="status" aria-live="polite"> <span>en</span> Totale prijs: €38.00</output></p>
          </section>
        <% } %>
        <input class="backAndNextButton" type="submit" value="Plan je bezoek" aria-label="Klik hier om door te gaan naar stap 3, plan je bezoek">
      </div>
    </section>