<form action="/derde-stap">
    <%- include ("../partials/usps.ejs") %>
    
    
    <% articles.forEach((article) => { %>
        <input type="radio" name="ticketChoice" id="<%= article.Code %>">
        <label for="<%= article.Code %>">
            <div class="ticket-container">
                <h2><%= article.Name %></h2>
                <div class="price-container">
                    <p>€ <%= (article.PriceCent / 100).toFixed(2) %></p>
                </div>
            </div>
        </label>
        <% if(articles.Description != "" && article.Description != "NULL"){ %>
            <p><%= article.Description %></p>
        <% } %>
    <% }) %>
    

    <div class="solo-subtotal-container">

    </div>

    <p>
        <%= variantContent.articleSelectionContent.paragraphContentTitle %>
      </p>
      <ul>
        <% variantContent.articleSelectionContent.paragraphContentListItems.map(item => { %>
        <li><%= item %></li>
        <% }) %>
      </ul>
      <section class="ticketOrder">
        <div>
          <p>Bestellingslijst...</p>
          <input class="backAndNextButton" type="submit" value="Plan je bezoek">
        </div>
      </section>
</form>