    <%- include ("../partials/usps.ejs") %>
  <section>
      <fieldset>
        <legend>
          <%= variantContent.articleSelectionContent.articleSelectionTitle %>
        </legend>
        <div>
        <% articles.forEach((article) => { %>
          <article>
            <div>
              <input type="radio" name="ticketChoice" data-article-name="<%= article.Name %>" data-article-price="<%= article.PriceCent %>" value="<%= article.Name %>" id="<%= article.Code %>">
              <label for="<%= article.Code %>">
                  <div class="ticket-container">
                      <h3><%= article.Name %></h3>
                      <p class="align-middle">€ <%= (article.PriceCent / 100).toFixed(2) %></p>
                  </div>
                  <% if(article.Description != "" && article.Description != "NULL"){ %>
                    <button type="button" class="iBtn">i</button>
                    <p class="tooltip"><%= article.Description %></p>
                  <% } %>
              </label>
            </div>
            <div></div>
          </article>
        <% }) %>
      </div>
      <p>Aantal tickets: <output id="aantal-first-step" class="block-right">0</output></p>
      <p>Totaal prijs: <output id="total-first-step" class="block-right">€0.00</output></p>
    </fieldset>
    <p>
      <%= variantContent.articleSelectionContent.paragraphContentTitle %>
    </p>
    <ul>
      <% variantContent.articleSelectionContent.paragraphContentListItems.map(item => { %>
      <li><%= item %></li>
      <% }) %>
    </ul>
</section>
<section class="backButtonContainer">
  <a href="/" class="backButton"> < Terug naar kies je groep</a>
</section>  
<section class="ticketOrder">
  <div>
    <p>Bestellingslijst...</p>
    <input class="backAndNextButton" type="submit" value="Plan je bezoek">
  </div>
</section>