<%- include ("../partials/usps.ejs") %>
<section>
  <fieldset>
    <legend>
      <%= variantContent.articleSelectionContent.articleSelectionTitle %>
    </legend>
    <div>
     <% for( let a = 0; a < articles.length; a++ ){ %>
      <article>
        <div>
          <h3><%= articles[a].Name %></h3>
          <% if(articles[a].Description != "" && articles[a].Description != "NULL"){ %>
            <button type="button" class="iBtn">i</button>
            <p class="tooltip"><%= articles[a].Description %></p>
          <% } %>
          <p class="align-middle">€ <%= (articles[a].PriceCent / 100).toFixed(2) %></p>
        </div>
        <div class="ticket-amount-container">
          <button type="button" class="remove-ticket">-</button>
          <select aria-label="Aantal <%= articles[a].Name %>" name="Articles[<%-a%>]" id="">
            <% if(ticketChoice != null){ %>
              <% for( let i = 0; i < articleConfiguration.maxAmountOfArticles+1; i++ ){ %>
                  <% if(i == ticketChoice[a]) { %>
                    <option selected="selected" data-price="<%= articles[a].PriceCent %>" value="<%= i %>"><%= i %></option>
                  <% } else { %>
                    <option data-price="<%= articles[a].PriceCent %>" value="<%= i %>"><%= i %></option>
                  <% } %>
              <% } %>
            <% } else {%>
              <% for( let i = 0; i < articleConfiguration.maxAmountOfArticles+1; i++ ){ %>
                <% if(i == ticketDefault[a]) { %>
                  <option selected="selected" data-price="<%= articles[a].PriceCent %>" value="<%= i %>"><%= i %></option>
                <% } else { %>
                  <option data-price="<%= articles[a].PriceCent %>" value="<%= i %>"><%= i %></option>
                <% } %>
              <% } %>
            <% } %>
          </select>
          <button type="button" class="add-ticket">+</button>
        </div>
      </article>
      <% } %>
    </div>
    <p>Aantal tickets: <output id="aantal-first-step" class="block-right">0</output></p>
    <p>Totaal prijs: <output id="total-first-step" class="block-right">€0.00</output></p>
    <p class="field-validation-error hidden">
      <span>
        <%- variantContent.articleSelectionContent.totalArticlesValidationError %>
      </span>
    </p>
  </fieldset>
  <p>
    <%= variantContent.articleSelectionContent.paragraphContentTitle %>
  </p>
  <ul>
    <% variantContent.articleSelectionContent.paragraphContentListItems.map(item => { %>
    <li><%= item %></li>
    <% }) %>
  </ul>
</section>
<section class="backButtonContainer">
  <a href="/" class="backButton linkStyleUnderline"> < Terug naar kies je groep</a>
</section>  
<section class="ticketOrder">
  <div>
    <p>Bestellingslijst...</p>
    <input class="backAndNextButton" type="submit" value="Plan je bezoek">
  </div>
</section>