<%- include ("../partials/head.ejs") %> 
<nav>
    <ul>
        <li><a href="#main">Skip navigatie</a></li>
        <li><a aria-label="Stap 1 Kies je groep" href="/" class="visited linkStyleUnderline">1. Kies je groep &#10003</a></li> 
        <li><a aria-label="Stap 2 Ticket selectie" href="/tweede-stap?groupChoice=<%- groupChoice %>&javascript=<%- javascript %>" class="visited linkStyleUnderline">2. Tickets &#10003</a></li> 
        <li><a aria-label="Stap 3 Plan je bezoek" href="/derde-stap?totalTickets=<%-ticketCount%>&javascript=<%- javascript %>" aria-current="page">3. Plan je bezoek ></a></li> 
        <li><p class="navStepDisabled">4. Extra opties ></p></li> 
        <li><p class="navStepDisabled">5. Persoonsgegevens ></p></li> 
        <li><p class="navStepDisabled">6. Overzicht en betaling ></p></li> 
    </ul>
  </nav>

<main id="main">
    <h2>Op welke dag wil je komen?
    </h2>
    <form class="form-first-step" action="derde-stap-tijd" method="GET" >
        <p class="exponame"><%= expoName%></p>
        <p class="exponame"><%= monthNames[month]%></p>
        <section>
        <h3>Selecteer een dag</h3>
        <% days.forEach(day => { %>
            <% if(dayChoice == day.date){ %>
            <input checked="checked" id="<%=day.date%>" name="day" type="radio" value="<%=day.date%>">
            <% } else { %>
                <input id="<%=day.date%>" name="day" type="radio" value="<%=day.date%>">
            <% } %>
            <label for="<%=day.date%>"><%=day.name%> <%=day.date%></label> 
        <% }) %>
        </section>
        <section class="backButtonContainer">
            <a href="/derde-stap-datum" class="backButton linkStyleUnderline" aria-label="Klik hier om terug te gaan naar stap 3, kies een datum"> < Terug naar kies een datum </a>
        </section>  
        <section class="ticketOrder">
            <div>
              <p>Bestellingslijst...</p>
              <input class="backAndNextButton" type="submit" value="Kies een tijd">
            </div>
          </section>
          <input type="hidden" name="monthNumber" value="<%= month%>">
          <input type="hidden" name="month" value="<%= monthNames[month]%>">
          <input type="hidden" name="expoName" value="<%= expoName %>">
          <input type="hidden" name="ticketCount" value="<%= ticketCount %>">
          <input type="hidden" name="expoID" value="<%= expoID %>">
    </form>

</main>


<%- include ("../partials/footer.ejs") %>