<%- include ("../partials/head.ejs") %>
<main>
  <h2>Eerste stap</h2>
  <form action="tweede-stap" method="GET">
    <section>

      <h2><%= variantContent.articleSelectionContent.pageTitle %></h2>
      <ul>
        <% variantContent.articleSelectionContent.usps.forEach(usp => { %>
        <li><%= usp %></li>
        <% }); %>
      </ul>
    </section>
    <h1><%= variantContent.articleSelectionContent.articleSelectionTitle %></h1>
    <h2><%= variantContent.pageTitle %></h2>
    <section>
      <fieldset>

        <legend>Reguliere tickets</legend>
        <table class="full-width">
          <thead>
            <th><%= variantContent.articleSelectionContent.articleTableTitle %></th>
            <th>Prijs</th>
            <th>Aantal</th>
            <th>Subtotaal</th>

          </thead>
          <tbody>
            <tr>
              <td><%= articles[0].Name %></td>
              <td class="align-middle"><%= articles[0].PriceCent %></td>
              <td>
                <select aria-label="Aantal" name="Articles[0]" id="">
                    <% for( let i = 0; i < articleConfiguration.maxAmountOfArticles+1; i++ ){ %>
                        <option value="<%= i %>"><%= i %></option>
                    <% } %>
                </select>
              </td>
              <td></td>
            </tr>
            <tr>
              <td><%= articles[1].Name %></td>
              <td class="align-middle"><%= articles[1].PriceCent %></td>
              <td>
                <select aria-label="Aantal" name="Articles[1]" id="">
                    <% for( let i = 0; i < articleConfiguration.maxAmountOfArticles+1; i++ ){ %>
                        <option value="<%= i %>"><%= i %></option>
                    <% } %>
                </select>
              </td>
              <td></td>
            </tr>
          </tbody>

        </table>
      </fieldset>
      <fieldset>
        <legend>Tickets met korting</legend>
        <table class="full-width">
          <thead>
            <th><%= variantContent.articleSelectionContent.articleTableTitle %></th>
            <th>Prijs</th>
            <th>Aantal</th>
            <th>Subtotaal</th>

          </thead>
          <tbody>
            <tr>
              <td><%= articles[2].Name %></td>
              <td class="align-middle"><%= articles[2].PriceCent %></td>
              <td>
                <select aria-label="Aantal" name="Articles[2]" id="">
                    <% for( let i = 0; i < articleConfiguration.maxAmountOfArticles+1; i++ ){ %>
                        <option value="<%= i %>"><%= i %></option>
                    <% } %>
                </select>
              </td>
              <td></td>
            </tr>
            <tr>
              <td><%= articles[3].Name %></td>
              <td class="align-middle"><%= articles[3].PriceCent %></td>
              <td>
                <select aria-label="Aantal" name="Articles[3]" id="">
                    <% for( let i = 0; i < articleConfiguration.maxAmountOfArticles+1; i++ ){ %>
                        <option value="<%= i %>"><%= i %></option>
                    <% } %>
                </select>
              </td>
              <td></td>
            </tr>
            <tr>
              <td><%= articles[4].Name %></td>
              <td class="align-middle"><%= articles[4].PriceCent %></td>
              <td>
                <select aria-label="Aantal" name="Articles[4]" id="">
                    <% for( let i = 0; i < articleConfiguration.maxAmountOfArticles+1; i++ ){ %>
                        <option value="<%= i %>"><%= i %></option>
                    <% } %>
                </select>
              </td>
              <td></td>
            </tr>
            <tr>
              <td><%= articles[5].Name %></td>
              <td class="align-middle"><%= articles[5].PriceCent %></td>
              <td>
                <select aria-label="Aantal" name="Articles[5]" id="">
                    <% for( let i = 0; i < articleConfiguration.maxAmountOfArticles+1; i++ ){ %>
                        <option value="<%= i %>"><%= i %></option>
                    <% } %>
                </select>
              </td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </fieldset>
      <p>
        <%= variantContent.articleSelectionContent.paragraphContentTitle %>
      </p>
      <ul>
        <% variantContent.articleSelectionContent.paragraphContentListItems.map(item => {%>
        <li><%= item %></li>
        <% }) %>
      </ul>

    </section>
    <input type="submit" value="Ga verder">
  </form>
</main>

<%- include ("../partials/footer.ejs") %>
