<%- include ("../partials/head.ejs") %>
<nav>
    <a href="/">1. Kies je groep ></a>
    <a href="/tweede-stap?groupChoice=<%- groupChoice %>">2. Tickets > </a>
    <a href="/derde-stap?totalTickets=<%-ticketCount%>">3. Plan je bezoek ></a>
    <a href="/vierde-stap">4. Extra opties ></a>
    <a class="navStepDisabled" tabindex="-1" href="/vijfde-stap">5. Persoonsgegevens ></a>
    <a class="navStepDisabled" tabindex="-1" href="/zesde-stap">6. Overzicht en betaling ></a>
</nav>
<main>
    <form class="step-two" action="/vijfde-stap" method="GET">
        <section>
            <table class="full-width">
                <thead>
                    <th><%= ticketShop.expositionSelectionContent.multimediaSelectionTitle %></th>
                    <th>Prijs</th>
                    <th>Aantal</th>
                    <th>Subtotaal</th>
                </thead>
                <tbody>
                    <% articlesAdditional.forEach(function(option) { %>
                    <tr>
                        <td><%- option.Name %>
                            <% if(option.Description != "" && option.Description != "NULL"){ %>
                                <p><%= option.Description %></p>
                            <% } %>
                        </td>
                        <td>€ <%- (option.PriceCent / 100).toFixed(2) %></td>
                        <td>
                            <input type="number" name="<%- option.Name %>" id="" max="6" min="0" value="0">
                        </td>
                        <td>€ <output>0</output></td>
                    </tr>
                    <% })%>
                </tbody>
            </table>
        </section>
        <section class="donation">
            <h2>Doneer aan het Rijksmuseum</h2>
            <p>Doneer nu</p>
            <fieldset>
                <% DonationOptions.forEach(function(option) { %>
                        <input id="donation<%- option.Code %>" type="radio" name="Doneer option" value="<%= option.PriceCent %>">
                        <label for="donation<%- option.Code %>">€ <%= (option.PriceCent/ 100).toFixed(2) %></label>
                <% })%>
                <input id="noDonation" type="radio" name="Doneer option" value="0">
                <label for="noDonation">€ 0.00</label>
            </fieldset>
        </section>
        <section class="backButtonContainer">
            <a href="/derde-stap" class="backButton"> < <%= ticketShop.articleSelectionContent.backButtonText %></a>
        </section>  
        <section class="ticketOrder">
            <div>
                <p>Bestellingslijst...</p>
                <input class="backAndNextButton" type="submit" value="Naar persoonsgegevens">
            </div>
        </section>
    </form>
</main>
<%- include ("../partials/footer.ejs") %>
