<%- include ("../partials/head.ejs") %>
<nav>
    <a class="visited" href="/">1. Kies je groep &#10003</a>
    <a class="visited" href="/tweede-stap?groupChoice=<%- groupChoice %>">2. Tickets &#10003</a>
    <a class="visited" href="/derde-stap?totalTickets=<%-ticketCount%>">3. Plan je bezoek &#10003</a>
    <a href="/vierde-stap">4. Extra opties ></a>
    <a class="navStepDisabled" tabindex="-1" href="/vijfde-stap">5. Persoonsgegevens ></a>
    <a class="navStepDisabled" tabindex="-1" href="/zesde-stap">6. Overzicht en betaling ></a>
</nav>
<main>
    <h2>Extra opties voor bij je bestelling</h2>
    <form class="step-two" action="/vijfde-stap" method="GET" data-formName="extraOptionsChoice">
        <section>
            <fieldset>
                <legend>Kies hier jouw multimedia bij je bezoek</legend>
                <div>
                    <% articlesAdditional.forEach(function(option) { %>
                        <article>
                            <div>
                                <h3><%= option.Name %></h3>
                                <% if(option.Description != "" && option.Description != "NULL"){ %>
                                    <span class="iBtn">i</span>
                                    <p class="tooltip"><%= option.Description %></p>
                                <% } %>
                                <p class="align-middle">€ <%- (option.PriceCent / 100).toFixed(2) %></p>
                            </div>
                            <div class="ticket-amount-container">
                                <button type="button" class="remove-ticket">-</button>
                                <select aria-label="Aantal <%- option.Name %>" name="<%- option.Name %>" id="">
                                    <% for( let i = 0; i <  Number(ticketCount)+1 ; i++ ){ %>
                                <option data-price="<%= option.PriceCent %>" value="<%= i %>"><%= i %></option>
                                    <%} %>
                                </select>
                                <button type="button" class="add-ticket">+</button>
                            </div>
                        </article>
                      <% })%>
                </div>
            </fieldset>
        </section>
        <section class="donation">
            <fieldset>
                <legend>Doneer aan het Rijksmuseum</legend>
                <p>Doneer nu</p>
                <% DonationOptions.forEach(function(option) { %>
                        <input id="donation<%- option.Code %>" type="radio" name="Doneer option" value="<%= option.PriceCent %>">
                        <label for="donation<%- option.Code %>">€ <%= (option.PriceCent/ 100).toFixed(2) %></label>
                <% })%>
                <input id="noDonation" type="radio" name="Doneer option" value="0">
                <label for="noDonation">€ 0.00</label>
            </fieldset>
        </section>
        <section class="backButtonContainer">
            <a href="/derde-stap" class="backButton"> < Terug naar plan je bezoek</a>
        </section>  
        <section class="ticketOrder">
            <div>
                <p>Bestellingslijst...</p>
                <input class="backAndNextButton" type="submit" value="Naar persoonsgegevens">
            </div>
        </section>
    </form>
</main>
<script>
    const ticketCount = "<%= ticketCount %>";
  </script>
<%- include ("../partials/footer.ejs") %>
