<%- include ("../partials/head.ejs") %>
<nav>
    <ul>
        <li><a href="#main">Skip navigatie</a></li>
        <li><a aria-label="Stap 1 kies je groep, vinkje" href="/" class="visited linkStyleUnderline">1. Kies je groep &#10003</a></li> 
        <li><a aria-label="Stap 2 Ticket selectie, vinkje" href="/tweede-stap?groupChoice=<%- groupChoice %>&javascript=<%- javascript %>" class="visited linkStyleUnderline">2. Tickets &#10003</a></li> 
        <li><a aria-label="Stap 3 plan je bezoek, vinkje" href="/derde-stap?totalTickets=<%-ticketCount%>&javascript=<%- javascript %>" class="visited linkStyleUnderline">3. Plan je bezoek &#10003</a></li> 
        <li><a aria-label="Stap 4 extra opties" href="/vierde-stap?javascript=<%- javascript %>" aria-current="page">4. Extra opties ></a></li> 
        <li><p class="navStepDisabled">5. Persoonsgegevens ></p></li> 
        <li><p class="navStepDisabled">6. Overzicht en betaling ></p></li> 
    </ul>
</nav>

<main id="main">
    <h2 aria-label="Stap 4 van de 6, Extra opties voor bij je bestelling">Extra opties voor bij je bestelling</h2>
    <form validate class="step-two" action="/vijfde-stap" method="GET" data-formName="extraOptionsChoice">
        <section>
            <fieldset>
                <legend>Kies hier jouw multimedia bij je bezoek</legend>
                <div>
                    <% for( let a = 0; a < articlesAdditional.length; a++ ){ %>
                        <article>
                            <div>
                                <h3><%= articlesAdditional[a].Name %></h3>
                                <% if(articlesAdditional[a].Description != "" && articlesAdditional[a].Description != "NULL"){ %>
                                    <div aria-label="extra informatie" tabindex="0" type="button" class="iBtn" aria-describedby="tooltip<%= a %>">i</div>
                                    <p class="tooltip" id="tooltip<%= a %>"><%= articlesAdditional[a].Description %></p>
                                <% } %>
                                <p class="align-middle">€ <%- (articlesAdditional[a].PriceCent / 100).toFixed(2) %></p>
                            </div>
                            <div class="ticket-amount-container">
                                <% if (javascript == 1){ %>
                                <div aria-hidden="true" class="remove-ticket">-</div>
                                <% } %>
                                <select aria-controls="ticketInfo" data-price="<%= articlesAdditional[a].PriceCent %>" aria-label="Aantal <%- articlesAdditional[a].Name %>" name="<%- articlesAdditional[a].FormName %>" id="">
                                    <% for( let i = 0; i <  Number(ticketCount)+1 ; i++ ){ %>
                                        <% if(Number(multiMediaChoice) == i){%>
                                            <option selected="selected" data-price="<%= articlesAdditional[a].PriceCent %>" value="<%= i %>,<%= articlesAdditional[a].PriceCent %>"><%= i %></option>
                                        <%}  else {%>
                                            <option data-price="<%= articlesAdditional[a].PriceCent %>" value="<%= i %>,<%= articlesAdditional[a].PriceCent %>"><%= i %></option>
                                        <%} %>
                                
                                    <%} %>
                                </select>
                                <% if (javascript == 1){ %>
                                <div aria-hidden="true" class="add-ticket">+</div>
                                <% } %>
                            </div>
                        </article>
                      <% }%>
                </div>
            </fieldset>
        </section>
        <section class="donation">
            <fieldset>
                <legend>Doneer aan het Rijksmuseum</legend>
                <p>Doneer nu</p>
                <% DonationOptions.forEach(function(option) { %>
                    <% if(donationChoice == option.PriceCent){%>
                        <input aria-controls="ticketInfo" checked="checked" id="donation<%- option.Code %>" type="radio" name="Doneer" value="<%= option.PriceCent %>">
                    <%}  else {%>
                        <input aria-controls="ticketInfo" id="donation<%- option.Code %>" type="radio" name="Doneer" value="<%= option.PriceCent %>">
                    <%} %>   
                        <label for="donation<%- option.Code %>">€ <%= (option.PriceCent/ 100).toFixed(2) %></label>
                <% })%>
                <input aria-controls="ticketInfo" checked="checked" id="noDonation" type="radio" name="Doneer" value="0">
                <label for="noDonation">€ 0.00</label>
            </fieldset>
        </section>
        <section class="backButtonContainer">
            <a href="/derde-stap" class="backButton" aria-label="Klik hier om terug te gaan naar stap 3, plan je bezoek"> < Terug naar plan je bezoek</a>
        </section>  
        <section class="ticketOrder">
            <div>
                <% if(javascript){ %>
                    <%- include('../partials/prijslijst.ejs') %>
                <% } %>
                
                <input class="backAndNextButton" type="submit" value="Naar persoonsgegevens" aria-label="Klik hier om door te gaan naar stap 5, persoonsgegevens">
            </div>
        </section>
    </form>
</main>
<script>
    const ticketCount = "<%= ticketCount %>";
  </script>
<%- include ("../partials/footer.ejs") %>
