<%- include ("../partials/head.ejs") %> 
<nav>
    <ul>
        <li><a href="/" class="visited linkStyleUnderline">1. Kies je groep &#10003</a></li> 
        <li><a href="/tweede-stap?groupChoice=<%- groupChoice %>" class="visited linkStyleUnderline">2. Tickets &#10003</a></li> 
        <li><a href="/derde-stap?totalTickets=<%-ticketCount%>&javascript=<%- javascript %>" aria-current="page">3. Plan je bezoek ></a></li> 
        <li><a class="navStepDisabled" tabindex="-1" href="/vierde-stap">4. Extra opties ></a></li> 
        <li><a class="navStepDisabled" tabindex="-1" href="/vijfde-stap">5. Persoonsgegevens ></a></li> 
        <li><a class="navStepDisabled" tabindex="-1" href="/zesde-stap">6. Overzicht en betaling ></a></li> 
    </ul>
  </nav>

<main>
    <h2>In welke maand wil je gaan?
    </h2>
    <form class="form-first-step" action="derde-stap-dag" method="GET" >
        <p class="exponame"><%= expoName%></p>
        <section>
        <label for="monthDatePicker">Selecteer een maand</label>
        <select id="monthDatePicker" class="monthDatePicker" name="month">
            <% months.forEach(month => { %>
                <%if(monthChoice == Object.keys(month)){%>
                <option selected="selected" value="<%= Object.keys(month) %>"><%=Object.values(month) %></option>
                <% } else {%>
                <option value="<%= Object.keys(month) %>"><%=Object.values(month) %></option>
                <% } %>
            <% }) %>
        </select>
        </section>
        <section class="ticketOrder">
            <div>
              <p>Bestellingslijst...</p>
              <input class="backAndNextButton" type="submit" value="Kies een dag">
            </div>
          </section>
          <input type="hidden" name="expoName" value="<%= expoName %>">
          <input type="hidden" name="ticketCount" value="<%= ticketCount %>">
          <input type="hidden" name="expoID" value="<%= expoID %>">
    </form>

</main>


<%- include ("../partials/footer.ejs") %>