<%- include ("../partials/head.ejs") %> 
<nav>
  <ul>
      <li><a href="/" class="visited linkStyleUnderline">1. Kies je groep &#10003</a></li> 
      <li><a href="/tweede-stap" aria-current="page" class="linkStyleUnderline">2. Tickets > </a></li> 
      <li><a class="navStepDisabled" tabindex="-1" href="/derde-stap">3. Plan je bezoek ></a></li> 
      <li><a class="navStepDisabled" tabindex="-1" href="/vierde-stap">4. Extra opties ></a></li> 
      <li><a class="navStepDisabled" tabindex="-1" href="/vijfde-stap">5. Persoonsgegevens ></a></li> 
      <li><a class="navStepDisabled" tabindex="-1" href="/zesde-stap">6. Overzicht en betaling ></a></li> 
  </ul>
</nav>

<main>
    <h2>Stel je tickets samen</h2>
    <form class="form-first-step" action="derde-stap" method="GET" data-formName="<%=formName%>">
      <%- include (`../partials/${groupChoice}.ejs`) %>
      <input type="hidden" class="totalTickets" name="totalTickets" value="">
      
    </form>

</main>
<script>
  const maxAmountOfArticles = "<%= articleConfiguration.maxAmountOfArticles %>";
</script>

<%- include ("../partials/footer.ejs") %>
