<%- include ("../partials/head.ejs") %> 
<nav>
  <a class="visited" href="/">1. Kies je groep &#10003</a>
  <a href="/tweede-stap?groupChoice=<%- groupChoice %>">2. Tickets ></a>
  <a class="navStepDisabled" tabindex="-1" href="#">3. Plan je bezoek ></a>
  <a class="navStepDisabled" tabindex="-1" href="#">4. Extra opties ></a>
  <a class="navStepDisabled" tabindex="-1" href="#">5. Persoonsgegevens ></a>
  <a class="navStepDisabled" tabindex="-1" href="#">6. Overzicht en betaling ></a>
</nav>

<main>
    <form class="form-first-step" action="derde-stap" method="GET" data-formName="<%=formName%>">
      <%- include (`../partials/${groupChoice}.ejs`) %>
      <input class="totalTickets" name="totalTickets" value="">
    </form>

</main>
<script>
  const maxAmountOfArticles = "<%= articleConfiguration.maxAmountOfArticles %>";
</script>

<%- include ("../partials/footer.ejs") %>
