<%- include ("../partials/head.ejs") %>
<%- include ("../partials/header.ejs") %>
<main>
    <section>
        <h2>Tweede stap</h2>
        <a href="/" class="backAndNextButton topButton"><%= ticketShop.articleSelectionContent.backButtonText %></a>
    </section>  
    <form class="step-two" action="/derde-stap" method="GET">
        <section class="entree-options-container">
            <h2><%= ticketShop.expositionSelectionContent.pageTitle %></h2>
            <fieldset>
                <% expositionContents.forEach(function(option) { %>
                    <div>
                        <input id="<%= option.expositionId %>" type="radio" name="ticket option" value="<%= option.name %>">
                        <label for="<%= option.expositionId %>"><%= option.name %> 
                            <span><%= ticketShop.expositionSelectionContent.expositionWithoutTimeslotDescription %></span>
                        </label>
                    </div>
                <% })%>
            </fieldset>
            <% for( let i = 0; i < expositionContents.length; i++ ){ %>
                <p class="expositionContents<%= i %>"><%- expositionContents[i].longDescription %></p>
            <% }%>
            <input type="date" name="" id="">
        </section>
        <section>
            <table class="full-width">
                <thead>
                    <th><%= ticketShop.expositionSelectionContent.multimediaSelectionTitle %></th>
                    <th>Prijs</th>
                    <th>Aantal</th>
                    <th>Subtotaal</th>
                </thead>
                <tbody>
                    <% articlesAdditional.forEach(function(option) { %>
                    <tr>
                        <td><%- option.Name %></td>
                        <td><%- option.PriceCent %></td>
                        <td>
                            <input type="number" name="<%- option.Name %>" id="" max="6" min="0" value="0">
                        </td>
                        <td><output>0</output></td>
                    </tr>
                    <% })%>
                </tbody>
            </table>
        </section>
        <section class="donation">
            <h2>Doneer aan het Rijksmuseum</h2>
            <p>Doneer nu</p>
            <fieldset>
                <input id="noDonation" type="radio" name="Doneer option" value="0">
                <label for="noDonation">0</label>
                <% DonationOptions.forEach(function(option) { %>
                        <input id="<%= option.expositionId %>" type="radio" name="Doneer option" value="<%= option.PriceCent %>">
                        <label for="<%= option.expositionId %>"><%= option.PriceCent %></label>
                <% })%>
            </fieldset>
        </section>
        <section>
            <p>bestellingslijst...</p>
            <input class="backAndNextButton" type="submit" value="Ga verder">
        </section>
    </form>
</main>
<%- include ("../partials/footer.ejs") %>
