
<%- include ("../partials/head.ejs") %>
<nav>
    <ul>
        <li><a href="#main">Skip navigatie</a></li>
        <li><a aria-label="Stap 1 kies je groep, vinkje" href="/" class="visited linkStyleUnderline">1. Kies je groep &#10003</a></li> 
        <li><a aria-label="Stap 2 Ticket selectie, vinkje" href="/tweede-stap?groupChoice=<%- groupChoice %>&javascript=<%- javascript %>" class="visited linkStyleUnderline">2. Tickets &#10003</a></li> 
        <li><a aria-label="Stap 3 plan je bezoek, vinkje" href="/derde-stap?totalTickets=<%-ticketCount%>&javascript=<%- javascript %>" class="visited linkStyleUnderline">3. Plan je bezoek &#10003</a></li> 
        <li><a aria-label="Stap 4 extra opties, vinkje" href="/vierde-stap?javascript=<%- javascript %>" class="visited linkStyleUnderline">4. Extra opties &#10003</a></li> 
        <li><a aria-label="Stap 5 Persoonsgegevens, vinkje" href="/vijfde-stap" class="visited linkStyleUnderline">5. Persoonsgegevens &#10003</a></li> 
        <li><a aria-label="Stap 6 Overzicht en betaling" aria-current="page">6. Overzicht en betaling ></a></li> 
    </ul>
</nav>

<main id="main">
    <section>
        <h2 aria-label="Stap 6 van de 6, Je bent klaar controlieer je gegevens en regel je betaling!">Overzicht en betaling</h2>
        <p> Name: <%= firstName %> <%= tussenName %> <%= lastName %></p>
        <p>Email: <%= email %></p>
        <p>Postcode: <%= zipCode.toUpperCase() %></p>
        <p>Land: <%= country %></p>
        <% ticketSelectedArrayIdAndNumber.forEach(object => { %>
            <% articlesData.forEach(article => {%>
                <% if(object.id == article.Code){%>
                    <p><span><%= article.Name%></span> <span><%= object.number%></span> <span>€<%= (article.PriceCent * Number(object.number) /100).toFixed(2) %></span></p>
                <%}%>
            <%})%>  
        <% }) %>
        <p><%= expoChoice%> <span> €<%= ((Number(totalPriceRawFive) - ( Number(totalPriceRawThree) + (Number(multiMediaChoice) * 500) + Number(donationChoice) )) / 100).toFixed(2) %></span></p>
        <p><date><%= new Date(startTimeChoice).toLocaleString() %></date></p>
        <% if(multiMediaChoice > 0) { %>
        <p><span>Multimediatour met leentoestel:</span> <span><%= multiMediaChoice%></span> <span>€<%= ((Number(multiMediaChoice) * 500) /100).toFixed(2) %></span></p>
        <% } %>
        <p>Doneer Keuze: €<%= (donationChoice / 100 ).toFixed(2)%></p>
        <p>Total tickets: <%=ticketCount%></p>
        <p>Total prijs: €<%= (totalPriceRawFive / 100).toFixed(2) %></p>
    </section>
</main>
<%- include ("../partials/footer.ejs") %> 