
<%- include ("../partials/head.ejs") %>
<nav>
    <ul>
        <li><a href="#main">Skip navigatie</a></li>
        <li><a aria-label="Stap 1 kies je groep, vinkje" href="/" class="visited linkStyleUnderline">1. Kies je groep &#10003</a></li> 
        <li><a aria-label="Stap 2 Ticket selectie, vinkje" href="/tweede-stap?groupChoice=<%- groupChoice %>&javascript=<%- javascript %>" class="visited linkStyleUnderline">2. Tickets &#10003</a></li> 
        <li><a aria-label="Stap 3 plan je bezoek, vinkje" href="/derde-stap?totalTickets=<%-ticketCount%>&javascript=<%- javascript %>" class="visited linkStyleUnderline">3. Plan je bezoek &#10003</a></li> 
        <li><a aria-label="Stap 4 extra opties, vinkje" href="/vierde-stap?javascript=<%- javascript %>" class="visited linkStyleUnderline">4. Extra opties &#10003</a></li> 
        <li><a aria-label="Stap 5 Persoonsgegevens, vinkje" href="/vijfde-stap">5. Persoonsgegevens ></a></li> 
        <li><a aria-label="Stap 6 Overzicht en betaling" class="navStepDisabled" aria-current="page">6. Overzicht en betaling ></a></li> 
    </ul>
</nav>

<main id="main">
    <h2 aria-label="Stap 6 van de 6, Je bent klaar!">Zesde stap</h2>
</main>
<%- include ("../partials/footer.ejs") %>