<% expositionContents.forEach(function(option) { %>
    <% availableExpoId.forEach(function(expoId) { %>

    <% if (option.expositionId != expoId ){ %>
      <div>
        <% if(expoChoice == option.name){ %>
        <input disabled checked="checked" id="<%= option.expositionId %>" data-id="<%= option.expositionId %>" type="radio" name="ticketOption"
        value="<%= option.name%>,<%= option.expositionId %>" />
        
      <% } else {%>
        <input disabled id="<%= option.expositionId %>" data-id="<%= option.expositionId %>" type="radio" name="ticketOption"
        value="<%= option.name%>,<%= option.expositionId %>" />
      <% } %>
      
      <label for="<%= option.expositionId %>">
        <img src="<%= option.expoImage %>" alt="Een foto van een tour in het Rijksmuseum" />
        <%= option.name %>
        <%= ticketShop.expositionSelectionContent.expositionWithoutTimeslotDescription %>

      </label>
    </div>
    

    <% } else { %>
    <div>
      <% if(expoChoice == option.name){ %>
      <input checked="checked" id="<%= option.expositionId %>" data-id="<%= option.expositionId %>" type="radio" name="ticketOption"
      value="<%= option.name%>,<%= option.expositionId %>" />
      
    <% } else {%>
      <input id="<%= option.expositionId %>" data-id="<%= option.expositionId %>" type="radio" name="ticketOption"
      value="<%= option.name%>,<%= option.expositionId %>" />
    <% } %>
    
    <label for="<%= option.expositionId %>">
      <img src="<%= option.expoImage %>" alt="Een foto van een tour in het Rijksmuseum" />
      <%= option.name %>
      <%= ticketShop.expositionSelectionContent.expositionWithoutTimeslotDescription %>

    </label>
  </div>
  <% } %>
  <% }) %>
  <% }) %>