<%- include ("../partials/head.ejs") %>
<nav>

  <a class="visited" href="/">1. Kies je groep &#10003</a>
  <a class="visited" href="/tweede-stap?groupChoice=<%- groupChoice %>">2. Tickets &#10003</a>
  <a href="/derde-stap?totalTickets=<%-ticketCount%>">3. Plan je bezoek ></a>
  <a class="navStepDisabled" tabindex="-1" href="/vierde-stap">4. Extra opties ></a>
  <a class="navStepDisabled" tabindex="-1" href="/vijfde-stap">5. Persoonsgegevens ></a>
  <a class="navStepDisabled" tabindex="-1" href="/zesde-stap">6. Overzicht en betaling ></a>

</nav>

<main>
  <h2>Plan je bezoek</h2>

  <% if(javascript == 1){ %>
    <form class="step-three" action="/vierde-stap" method="GET" data-formName="dateTourChoice">
  <% } else { %>
    <form class="step-three" action="/vierde-stap-datum" method="GET" data-formName="dateTourChoice">
  <% } %>

    <section class="entree-options-container">
      <!-- <h2><%= ticketShop.expositionSelectionContent.pageTitle %></h2> -->
      <fieldset>
        <legend>Plan hier je rondleiding door het Rijksmuseum</legend>
        <% expositionContents.forEach(function(option) { %>
        <div>
          
          <input id="<%= option.expositionId %>" data-id="<%= option.expositionId %>" type="radio" name="ticketOption"
            value="<%= option.name%>,<%= option.expositionId %>" />
          <label for="<%= option.expositionId %>">
            <img src="<%= option.expoImage %>" alt="Een foto van een tour in het Rijksmuseum" />
            <%= option.name %>
            <%= ticketShop.expositionSelectionContent.expositionWithoutTimeslotDescription %>

          </label>
        </div>
        <% })%>
      </fieldset>
      <% for( let i = 0; i < expositionContents.length; i++ ){ %>
      <p class="expositionContents<%= i %>">
        <%- expositionContents[i].longDescription %>
      </p>
      <% }%>
    </section>

    <% if( javascript == 1){ %>
      <%- include ("../partials/datepicker.ejs") %>
    <% } %>
    

    <section class="backButtonContainer">
      <a href="/tweede-stap?groupChoice=<%- groupChoice %>" class="backButton">
        < <%= ticketShop.articleSelectionContent.backButtonText %></a>
    </section>
    <section class="ticketOrder">
      <div>
        <p>Bestellingslijst...</p>
        <% if(javascript == 1){ %>
          <input class="backAndNextButton" type="submit" value="Naar extra opties" />
        <% } else { %>
          <input class="backAndNextButton" type="submit" value="Kies datum" />
        <% } %>
      </div>
    </section>

    <input type="hidden" class="totalTickets" name="totalTickets" value="<%= ticketCount %>">

  </form>
</main>
<script>
  const ticketCount = "<%= ticketCount %>";
  console.log(ticketCount);
</script>
<%- include ("../partials/footer.ejs") %>