<%- include ("../partials/head.ejs") %>
<nav>
  <ul>
      <li><a href="/" class="visited linkStyleUnderline">1. Kies je groep &#10003</a></li> 
      <li><a href="/tweede-stap?groupChoice=<%- groupChoice %>&javascript=<%- javascript %>" class="visited linkStyleUnderline">2. Tickets &#10003</a></li> 
      <li><a href="/derde-stap?totalTickets=<%-ticketCount%>&javascript=<%- javascript %>" aria-current="page">3. Plan je bezoek ></a></li> 
      <li><a class="navStepDisabled" tabindex="-1" href="/vierde-stap">4. Extra opties ></a></li> 
      <li><a class="navStepDisabled" tabindex="-1" href="/vijfde-stap">5. Persoonsgegevens ></a></li> 
      <li><a class="navStepDisabled" tabindex="-1" href="/zesde-stap">6. Overzicht en betaling ></a></li> 
  </ul>
</nav>

<main>
  <h2>Plan je bezoek</h2>

  <% if(javascript == 1){ %>
    <form validate class="step-three" action="/vierde-stap" method="GET" data-formName="dateTourChoice">
  <% } else { %>
    <form validate class="step-three" action="/derde-stap-datum" method="GET" data-formName="dateTourChoice">
  <% } %>

    <section class="entree-options-container">
      <!-- <h2><%= ticketShop.expositionSelectionContent.pageTitle %></h2> -->
      <fieldset>
        <% if(availableExpoId.length == 1) {%>
          <legend aria-label="Plan hier jouw bezoek voor het Rijksmuseum. Kies uit <%=availableExpoId.length%> optie.">Plan hier jouw bezoek voor het Rijksmuseum</legend>
        <% } else { %>
          <legend aria-label="Plan hier jouw bezoek voor het Rijksmuseum. Kies uit <%=availableExpoId.length%> opties met de pijltjes toetsen.">Plan hier jouw bezoek voor het Rijksmuseum</legend>
        <% } %>
        

        <% expositionContents.forEach(function(option) { %>
            <div>
              <% if(availableExpoId.length == 1) { %>
                <% if(!availableExpoId.includes(option.expositionId.toUpperCase())){ %>
                  <p class="expo-validation-error">
                    Deze rondleiding is niet beschikbaar voor uw groepsgrootte.
                  </p>
                  <input required disabled id="<%= option.expositionId %>" data-id="<%= option.expositionId %>" type="radio" name="ticketOption"
                    value="<%= option.name%>,<%= option.expositionId %>" />
                <% } else { %>
                  <% if(expoChoice == option.name){ %>
                    <input required checked="checked" id="<%= option.expositionId %>" data-id="<%= option.expositionId %>" type="radio" name="ticketOption"
                    value="<%= option.name%>,<%= option.expositionId %>" />
                    
                  <% } else { %>
                      <input required checked="checked" id="<%= option.expositionId %>" data-id="<%= option.expositionId %>" type="radio" name="ticketOption"
                      value="<%= option.name%>,<%= option.expositionId %>" />
                  <% } %>
                <% } %>
              <% } else { %>
                <% if(!availableExpoId.includes(option.expositionId.toUpperCase())){ %>
                  <p class="expo-validation-error">
                    Deze rondleiding is niet beschikbaar voor uw groepsgrootte.
                  </p>
                  <input required disabled id="<%= option.expositionId %>" data-id="<%= option.expositionId %>" type="radio" name="ticketOption"
                    value="<%= option.name%>,<%= option.expositionId %>" />
                <% } else { %>
                  <% if(expoChoice == option.name){ %>
                    <input required checked="checked" id="<%= option.expositionId %>" data-id="<%= option.expositionId %>" type="radio" name="ticketOption"
                    value="<%= option.name%>,<%= option.expositionId %>" />
                    
                  <% } else { %>
                      <input required id="<%= option.expositionId %>" data-id="<%= option.expositionId %>" type="radio" name="ticketOption"
                      value="<%= option.name%>,<%= option.expositionId %>" />
                  <% } %>
                <% } %>
              <% } %>


            <label aria-label="<%= option.name %>. <%= ticketShop.expositionSelectionContent.expositionWithoutTimeslotDescription %>" for="<%= option.expositionId %>">
              <img src="<%= option.expoImage %>" alt="Een foto van een tour in het Rijksmuseum" />
              <%= option.name %>
              <%= ticketShop.expositionSelectionContent.expositionWithoutTimeslotDescription %>
  
            </label>
          </div>
          
        <% }) %>

        <p class="field-validation-error hidden">
          Er is geen rondleiding beschikbaar voor uw groepsgrootte
        </p>
      </fieldset>

      <article class="informationToursMuseum">
      <% for( let i = 0; i < expositionContents.length; i++ ){ %>
      
        <p class="article-description expositionContents<%= i %>">
          <%- expositionContents[i].longDescription %>
        </p>
        <% }%>
      </article>

    </section>

    
    <% if( javascript == 1){ %>
      <%- include ("../partials/datepicker.ejs") %>
    <% } %>
    

    <section class="backButtonContainer">
      <a href="/tweede-stap?groupChoice=<%- groupChoice %>" class="backButton" aria-label="Klik hier om terug te gaan naar stap 2, tickets">
        < <%= ticketShop.articleSelectionContent.backButtonText %></a>
    </section>
    <section class="ticketOrder">
      <div>
        <p>Bestellingslijst...</p>
        <% if(javascript == 1){ %>
          <input class="backAndNextButton" type="submit" value="Naar extra opties" aria-label="Klik hier om door te gaan naar stap 4, extra opties"/>
        <% } else { %>
          <input class="backAndNextButton" type="submit" value="Kies datum" />
        <% } %>
      </div>
    </section>

    <input required type="hidden" class="totalTickets" name="totalTickets" value="<%= ticketCount %>">

  </form>
</main>
<script>
  const ticketCount = "<%= ticketCount %>";
  console.log(ticketCount);
</script>
<%- include ("../partials/footer.ejs") %>