<%- include ("../partials/head.ejs") %>
<nav>
  <ul>
      <li><a href="#main">Skip navigatie</a></li>
      <li><a aria-label="Stap 1 Kies je groep, vinkje" href="/" class="visited linkStyleUnderline">1. Kies je groep &#10003</a></li> 
      <li><a aria-label="Stap 2 Ticket selectie, vinkje" href="/tweede-stap?groupChoice=<%- groupChoice %>&javascript=<%- javascript %>" class="visited linkStyleUnderline">2. Tickets &#10003</a></li> 
      <li><a aria-label="Stap 3 Plan je bezoek" href="/derde-stap?totalTickets=<%-ticketCount%>&javascript=<%- javascript %>" aria-current="page">3. Plan je bezoek ></a></li> 
      <li><p class="navStepDisabled">4. Extra opties ></p></li> 
      <li><p class="navStepDisabled">5. Persoonsgegevens ></p></li> 
      <li><p class="navStepDisabled">6. Overzicht en betaling ></p></li> 
  </ul>
</nav>

<main id="main">
  <h2 aria-label="Stap 3 van de 6, Plan je bezoek">Plan je bezoek</h2>

  <% if(javascript == 1){ %>
    <form validate class="step-three" action="/vierde-stap" method="GET" data-formName="dateTourChoice">
  <% } else { %>
    <form validate class="step-three" action="/derde-stap-datum" method="GET" data-formName="dateTourChoice">
  <% } %>

    <section class="entree-options-container">
      <!-- <h2><%= ticketShop.expositionSelectionContent.pageTitle %></h2> -->
      <fieldset>
        <% if(availableExpoId.length == 1) {%>
          <legend aria-label="Plan hier jouw bezoek voor het Rijksmuseum. Kies uit <%=availableExpoId.length%> optie.">Plan hier jouw bezoek voor het Rijksmuseum</legend>
        <% } else { %>
          <legend aria-label="Plan hier jouw bezoek voor het Rijksmuseum. Kies uit <%=availableExpoId.length%> opties met de pijltjes toetsen.">Plan hier jouw bezoek voor het Rijksmuseum</legend>
        <% } %>
        

        <% for(let a = 0; a < expositionContents.length; a++) { %>
            <div>
              <% if(availableExpoId.length == 1) { %>
                <% if(!availableExpoId.includes(expositionContents[a].expositionId.toUpperCase())){ %>
                  <p class="expo-validation-error">
                    Deze rondleiding is niet beschikbaar voor uw groepsgrootte.
                  </p>
                  <input aria-label="<%= expositionContents[a].name %>.De prijs is €<%= (expositionContents[a].PriceCent / 100).toFixed(2)  %> per groep. <%= ticketShop.expositionSelectionContent.expositionWithoutTimeslotDescription %>" aria-controls="ticketInfo" required disabled id="<%= expositionContents[a].expositionId %>" data-id="<%= expositionContents[a].expositionId %>" type="radio" name="ticketOption"
                    value="<%= expositionContents[a].name%>,<%= expositionContents[a].expositionId %>,<%= expositionContents[a].PriceCent%>,<%= expositionContents[a].PriceType%>" aria-describedby="item[<%=a%>]" data-price-cent="<%= expositionContents[a].PriceCent %>" data-price-type="<%= expositionContents[a].PriceType %>"/>
                <% } else { %>
                  <% if(expoChoice == expositionContents[a].name){ %>
                    <input aria-label="<%= expositionContents[a].name %>.De prijs is €<%= (expositionContents[a].PriceCent / 100).toFixed(2)  %> per groep. <%= ticketShop.expositionSelectionContent.expositionWithoutTimeslotDescription %>" aria-controls="ticketInfo" required checked="checked" id="<%= expositionContents[a].expositionId %>" data-id="<%= expositionContents[a].expositionId %>" type="radio" name="ticketOption"
                    value="<%= expositionContents[a].name%>,<%= expositionContents[a].expositionId %>,<%= expositionContents[a].PriceCent%>,<%= expositionContents[a].PriceType%>" aria-describedby="item[<%=a%>]" data-price-cent="<%= expositionContents[a].PriceCent %>" data-price-type="<%= expositionContents[a].PriceType %>"/>
                    
                  <% } else { %>
                      <input aria-label="<%= expositionContents[a].name %>.De prijs is €<%= (expositionContents[a].PriceCent / 100).toFixed(2)  %> per groep. <%= ticketShop.expositionSelectionContent.expositionWithoutTimeslotDescription %>" aria-controls="ticketInfo" required checked="checked" id="<%= expositionContents[a].expositionId %>" data-id="<%= expositionContents[a].expositionId %>" type="radio" name="ticketOption"
                      value="<%= expositionContents[a].name%>,<%= expositionContents[a].expositionId %>,<%= expositionContents[a].PriceCent%>,<%= expositionContents[a].PriceType%>" aria-describedby="item[<%=a%>]" data-price-cent="<%= expositionContents[a].PriceCent %>" data-price-type="<%= expositionContents[a].PriceType %>"/>
                  <% } %>
                <% } %>
              <% } else { %>
                <% if(!availableExpoId.includes(expositionContents[a].expositionId.toUpperCase())){ %>
                  <p class="expo-validation-error">
                    Deze rondleiding is niet beschikbaar voor uw groepsgrootte.
                  </p>
                  <input aria-label="<%= expositionContents[a].name %>.De prijs is €<%= (expositionContents[a].PriceCent / 100).toFixed(2)  %> per groep. <%= ticketShop.expositionSelectionContent.expositionWithoutTimeslotDescription %>" aria-controls="ticketInfo" required disabled id="<%= expositionContents[a].expositionId %>" data-id="<%= expositionContents[a].expositionId %>" type="radio" name="ticketOption"
                    value="<%= expositionContents[a].name%>,<%= expositionContents[a].expositionId %>,<%= expositionContents[a].PriceCent%>,<%= expositionContents[a].PriceType%>" aria-describedby="item[<%=a%>]" data-price-cent="<%= expositionContents[a].PriceCent %>" data-price-type="<%= expositionContents[a].PriceType %>"/>
                <% } else { %>
                  <% if(expoChoice == expositionContents[a].name){ %>
                    <input aria-label="<%= expositionContents[a].name %>.De prijs is €<%= (expositionContents[a].PriceCent / 100).toFixed(2)  %> per groep. <%= ticketShop.expositionSelectionContent.expositionWithoutTimeslotDescription %>" aria-controls="ticketInfo" required checked="checked" id="<%= expositionContents[a].expositionId %>" data-id="<%= expositionContents[a].expositionId %>" type="radio" name="ticketOption"
                    value="<%= expositionContents[a].name%>,<%= expositionContents[a].expositionId %>,<%= expositionContents[a].PriceCent%>,<%= expositionContents[a].PriceType%>" aria-describedby="item[<%=a%>]" data-price-cent="<%= expositionContents[a].PriceCent %>" data-price-type="<%= expositionContents[a].PriceType %>"/>
                    
                  <% } else { %>
                      <input aria-label="<%= expositionContents[a].name %>.De prijs is €<%= (expositionContents[a].PriceCent / 100).toFixed(2)  %> per groep. <%= ticketShop.expositionSelectionContent.expositionWithoutTimeslotDescription %>" aria-controls="ticketInfo" required id="<%= expositionContents[a].expositionId %>" data-id="<%= expositionContents[a].expositionId %>" type="radio" name="ticketOption"
                      value="<%= expositionContents[a].name%>,<%= expositionContents[a].expositionId %>,<%= expositionContents[a].PriceCent%>,<%= expositionContents[a].PriceType%>" aria-describedby="item[<%=a%>]" data-price-cent="<%= expositionContents[a].PriceCent %>" data-price-type="<%= expositionContents[a].PriceType %>"/>
                  <% } %>
                <% } %>
              <% } %>

              <% if(expositionContents[a].PriceType == "fixed"){ %>
              <label aria-label="<%= expositionContents[a].name %>.De prijs is €<%= (expositionContents[a].PriceCent / 100).toFixed(2)  %> per groep. <%= ticketShop.expositionSelectionContent.expositionWithoutTimeslotDescription %>" for="<%= expositionContents[a].expositionId %>">
              <img src="<%= expositionContents[a].expoImage %>" alt="Een foto van een tour in het Rijksmuseum" />
              <%= expositionContents[a].name %>
              <%= ticketShop.expositionSelectionContent.expositionWithoutTimeslotDescription %>
              
                <span class="tour-price-container">€<%= (expositionContents[a].PriceCent / 100).toFixed(2)  %> per groep </span>
              </label>
              <% } else { %>
                <label aria-label="<%= expositionContents[a].name %>.De prijs is €<%= (expositionContents[a].PriceCent / 100).toFixed(2)  %> <%= expositionContents[a].PriceType %>. <%= ticketShop.expositionSelectionContent.expositionWithoutTimeslotDescription %>" for="<%= expositionContents[a].expositionId %>">
                  <img src="<%= expositionContents[a].expoImage %>" alt="Een foto van een tour in het Rijksmuseum" />
                  <%= expositionContents[a].name %>
                  <%= ticketShop.expositionSelectionContent.expositionWithoutTimeslotDescription %>
                <span class="tour-price-container">€<%= (expositionContents[a].PriceCent / 100).toFixed(2)  %> <%= expositionContents[a].PriceType %> </span>
              </label>
              <% } %>
              
            
          </div>
          
        <% } %>

        <p class="field-validation-error hidden">
          Er is geen rondleiding beschikbaar voor uw groepsgrootte
        </p>
      </fieldset>

      <article class="informationToursMuseum">
      <% for( let i = 0; i < expositionContents.length; i++ ){ %>
      
        <p class="article-description expositionContents<%= i %>" id="item[<%=i%>]">
          <%- expositionContents[i].longDescription %>
        </p>
        <% }%>
      </article>

    </section>

    
    <% if( javascript == 1){ %>
      <%- include ("../partials/datepicker.ejs") %>
    <% } %>
    

    <section class="backButtonContainer">
      <a href="/tweede-stap?groupChoice=<%- groupChoice %>" class="backButton" aria-label="Klik hier om terug te gaan naar stap 2, tickets">
        < <%= ticketShop.articleSelectionContent.backButtonText %></a>
    </section>
    <section class="ticketOrder">
      <div>
        <% if(javascript == 1){ %>
          <%- include('../partials/prijslijst.ejs') %>
          <input class="backAndNextButton" type="submit" value="Naar extra opties" aria-label="Klik hier om door te gaan naar stap 4, extra opties"/>
        <% } else { %>
          <input class="backAndNextButton" type="submit" value="Kies datum" />
        <% } %>
      </div>
    </section>

    <input required type="hidden" class="totalTickets" name="totalTickets" value="<%= ticketCount %>">


  </form>
</main>
<script>
  const ticketCount = "<%= ticketCount %>";
</script>
<%- include ("../partials/footer.ejs") %>