<%- include ("../partials/head.ejs") %> 
<nav>
    <ul>
        <li><a href="#main">Skip navigatie</a></li>
        <li><a href="/" class="visited linkStyleUnderline">1. Kies je groep &#10003</a></li> 
        <li><a href="/tweede-stap?groupChoice=<%- groupChoice %>&javascript=<%- javascript %>" class="visited linkStyleUnderline">2. Tickets &#10003</a></li> 
        <li><a href="/derde-stap?totalTickets=<%-ticketCount%>&javascript=<%- javascript %>" aria-current="page">3. Plan je bezoek ></a></li> 
        <li><a class="navStepDisabled" tabindex="-1" href="/vierde-stap">4. Extra opties ></a></li> 
        <li><a class="navStepDisabled" tabindex="-1" href="/vijfde-stap">5. Persoonsgegevens ></a></li> 
        <li><a class="navStepDisabled" tabindex="-1" href="/zesde-stap">6. Overzicht en betaling ></a></li> 
    </ul>
  </nav>

<main id="main">
    <h2>Hoelaat wil je komen?
    </h2>
    <form class="step-three" action="vierde-stap" method="GET" >
        <section class="datePicker">
            <p class="exponame">Tour: <%= expoName%></p>
            <p class="exponame">Maand: <%= month%> Datum:<%= day%></p>
            <p class="exponame">Aantal tickets: <%= ticketCount%></p>
            <fieldset class="chooseTime">
                <legend class="legend-time-stamp">Selecteer een tijd slot</legend>
                    <div class="morning-container midday-container">
                    <% expos.forEach(expo => { %>
                            <span>
                                <% if(expoPeriodIDChoice == expo.ExpositionPeriodId){ %>
                                    <input checked="checked" type="radio" name="startTimeChoice" id="<%= expo.ExpositionPeriodId %>" value="<%= expo.PeriodStart %>,<%= expo.ExpositionPeriodId %>">
                                <%} else { %>
                                    <input type="radio" name="startTimeChoice" id="<%= expo.ExpositionPeriodId %>" value="<%= expo.PeriodStart %>,<%= expo.ExpositionPeriodId %>">
                                <% } %>
                                <label for="<%= expo.ExpositionPeriodId %>"><time datetime="<%= new Date(expo.PeriodStart).toLocaleTimeString().split(':')[0] %>:<%= new Date(expo.PeriodStart).toLocaleTimeString().split(':')[1] %>"><%= new Date(expo.PeriodStart).toLocaleTimeString().split(":")[0] %>:<%= new Date(expo.PeriodStart).toLocaleTimeString().split(":")[1] %></time></label>
                            </span>
                    <% }) %>
                </div>
            </fieldset>
        </section>
        <section class="backButtonContainer">
            <a href="/derde-stap-dag" class="backButton linkStyleUnderline" aria-label="Klik hier om terug te gaan naar stap 3, kies een dag"> < Terug naar kies een dag </a>
        </section>  
        <section class="ticketOrder">
            <div>
              <input class="backAndNextButton" type="submit" value="Naar extra opties">
            </div>
          </section>
          <input type="hidden" name="day" value="<%= day %>">
          <input type="hidden" name="month" value="<%= month%>">
          <input type="hidden" name="expoName" value="<%= expoName %>">
          <input type="hidden" name="ticketCount" value="<%= ticketCount %>">
          <input type="hidden" name="expoID" value="<%= expoID %>">
    </form>

</main>


<%- include ("../partials/footer.ejs") %>